% rebase('layouts/index.html')

<style>
    .wrap-login100{
        padding-top: 5rem;
    }
</style>
<div class="jumbotron">
    <h1 class="display-4 mb-3">
        <i class="fa fa-house-user"></i> Sistema Login
    </h1>
    <p class="lead">Este é um simples exemplo de sistema de login criado com python e o framework bottle.</p>
    <hr class="my-4">
    <p class="mb-3">Desenvolvi este simples sistema em meu tempo livre, aprendendo novas tecnologias. 😁</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg mr-3" href="login" role="button">
            <i class="fa fa-door-open"></i> Fazer Login
        </a>
        <a class="btn btn-dark btn-lg" href="https://github.com/SamuelNunesDev/sistema-login" target="_blank" role="button">
            <i class="fa fa-code-branch"></i> Ver no GitHub
        </a>
    </p>
</div>